.alert {
  width: 60%;
  margin: 20px auto !important;
}

.question-form {
  width: 80%;
  margin: 0 auto !important;
}

.question {
  margin-top: 20px !important;
  padding: 12px !important;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 64, 128, 20%);
}
